.shopper-guide-container {
  display: flex;
  // margin-top: 6rem;
  margin-bottom: 6rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  @include respond(large) {
    padding-top: 2rem;
    gap: 1rem;
  }
  @include respond(small) {
    padding-top: 2rem;
    gap: 1rem;
  }

  @include respond(xsmall) {
    padding-top: 4rem;
    flex-direction: column;
  }

  .guide-image-container {
    width: 50%;
    height: 50%;
    padding: 3rem;

    @include respond(small) {
      width: 80%;
      padding: 1rem;
    }
    @include respond(xsmall) {
      // display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .guide-information-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include respond(small) {
      width: 100%;
    }

    h2 {
      font-size: 3rem;
      font-weight: 600;

      @include respond(small) {
        font-size: 2.2rem;
      }
    }

    .information-container {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      gap: 1rem;

      .title-container {
        display: flex;
        gap: 0.4rem;
        margin-bottom: 0.3rem;

        h3 {
          font-size: 1.2rem;
          font-weight: 500;

          @include respond(small) {
            font-size: 1rem;
          }
        }
      }
      p {
        font-size: 1.05rem;

        @include respond(small) {
          font-size: 0.9rem;
        }
      }
    }
  }
}
